#container{
	padding-top: 100px;
	margin: auto;
	width: 200px;
}


body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center; /* จัดให้อยู่กลางแนวนอน */
	align-items: center; /* จัดให้อยู่กลางแนวตั้ง */
	height: 100vh; /* ให้เต็มสูงของหน้าจอ */
	background-color: rgb(48, 43, 66);
	background-position: center;
  }
  

div {
	width: 400px;
	padding: 20px;
	background-color: rgb(211, 166, 98);
	border-radius: 8px;
	border: 10px solid rgb(127, 91, 36);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

.form{
	
	font-size:18px;
}

.form input{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size:18px;
}

#errordisplay{
	/*margin-top: -20px;*/
	font-size:12px;
	color: #EE0019;
}


button{
	display: block;
	margin: auto;
	margin-top: 2%;
}

legend{
	text-align: center;
	font-size: 48px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding-bottom: 5%;
}

#leaderboard-container {
	max-width: 800px; /* กำหนดความกว้างสูงสุดของ leaderboard container */
	margin: 50px auto; /* กำหนดระยะห่างด้านบนและด้านล่าง 50px, ด้านซ้ายและด้านขวาจะอยู่กึ่งกลาง */
	padding: 20px;
	background-color: rgb(211, 166, 98); /* สีพื้นหลังของ leaderboard container */
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

